In [14]:
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine(
    "postgresql+psycopg2://postgres:postgres@postgres:5432/etl_db"
)

In [15]:
pd.read_sql(
    """
    SELECT *
    FROM bronze.stations
    where station_id is null
    """,
    con=engine
)

Empty DataFrame
Columns: [station_id, latitude, longitude, elevation, state, name, gsn, hcn, wmo, source_file, ingested_at]
Index: []

In [16]:
with engine.begin() as conn:
    conn.execute(text("""
        INSERT INTO silver.stations (
            station_id,
            country_code,
            state,
            name,
            latitude,
            longitude,
            elevation_m,
            is_gsn,
            is_hcn
        )
        SELECT DISTINCT
            station_id,
            SUBSTRING(station_id FROM 1 FOR 2)        AS country_code,
            NULLIF(state, '')                          AS state,
            name,
            latitude::DOUBLE PRECISION                 AS latitude,
            longitude::DOUBLE PRECISION                AS longitude,
            elevation::DOUBLE PRECISION                AS elevation_m,
            (gsn = 'GSN')                              AS is_gsn,
            (hcn = 'HCN')                              AS is_hcn
        FROM bronze.stations
        WHERE station_id LIKE 'US%'
        ON CONFLICT (station_id) DO NOTHING
    """))

In [17]:
query = """
SELECT
    station_id,
    country_code,
    state,
    name,
    latitude,
    longitude,
    elevation_m,
    is_gsn,
    is_hcn
FROM silver.stations
ORDER BY station_id
LIMIT 10;
"""

df_check = pd.read_sql(text(query), engine)
df_check

,station_id,country_code,state,name,latitude,longitude,elevation_m,is_gsn,is_hcn
0,US009052008,US,SD,SIOUX FALLS (ENVIRON. CANADA),43.7333,-96.6333,482.0,None,None
1,US10adam001,US,NE,JUNIATA 1.5 S,40.5680,-98.5069,598.0,None,None
2,US10adam002,US,NE,JUNIATA 6.0 SSW,40.5093,-98.5493,601.1,None,None
3,US10adam003,US,NE,HOLSTEIN 0.1 NW,40.4663,-98.6537,615.1,None,None
4,US10adam004,US,NE,AYR 3.5 NE,40.4798,-98.4026,570.0,None,None
5,US10adam006,US,NE,ROSELAND 2.8 SW,40.4372,-98.5912,601.1,None,None
6,US10adam007,US,NE,HASTINGS 5.4 WSW,40.5389,-98.4713,588.9,None,None
7,US10adam008,US,NE,GLENVIL 2.3 WSW,40.4953,-98.2973,566.9,None,None
8,US10adam010,US,NE,JUNIATA 6.9 WSW,40.5532,-98.6297,622.1,None,None
9,US10adam011,US,NE,ROSELAND 5.2 SW,40.4078,-98.6161,593.1,None,None